/* Global Styles */
body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f8f8f8;
}

h1 {
	text-align: center;
	margin-top: 50px;
	color: #333;
}

form {
	width: 300px;
	margin: 30px auto;
	padding: 20px;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

label {
	display: block;
	margin-top: 20px;
	color: #333;
	font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"] {
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

button {
	width: 100%;
	padding: 10px;
	margin-top: 20px;
	background-color: #4caf50;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

a {
	display: block;
	text-align: center;
	margin-top: 20px;
	color: #333;
	text-decoration: none;
}

/* Form Validation Styles */
input:valid,
input:invalid {
	border-color: #ccc;
}

input:valid {
	border-color: #4caf50;
}

input:valid + label:before,
input:valid + label:after {
	content: "\2714";
	position: absolute;
	right: 10px;
	color: #4caf50;
	opacity: 0;
	transform: scale(0);
	transition: opacity 0.3s, transform 0.3s;
}

input:valid + label:before {
	top: -20px;
}

input:valid + label:after {
	top: -10px;
}

input:valid + label:before,
input:valid + label:after {
	opacity: 1;
	transform: scale(1);
}

/* Message Styles */
#messageDiv {
	text-align: center;
	margin-top: 20px;
}

#messageDiv h2 {
	margin: 0;
	padding: 10px 20px;
	background-color: #4caf50;
	color: #fff;
	border-radius: 5px;
	animation: fadeOut 3s ease-in-out;
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
